.boxcontainer {
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    to right top,
    #051937,
    #004d7a,
    #008793,
    #00bf72,
    #a8eb12
  );
  /* background: red; */
  position: relative;
  overflow: hidden;
}
.box1 {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  bottom: 0;
  z-index: 2;
  /* background: blue; */
}
.box2 {
  display: flex;
  justify-content: center;
  width: 100%;
  position: absolute;
  bottom: 0;
  /* background: yellow; */
}
.word {
  font-size: 130px;
  font-weight: bolder;
  background-image: url('/japan.png');
  /* position: absolute; */
  background-size: contain;
  background-repeat: repeat;
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
